#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.banner {
    background-image: url('../src/assets/image/Banner.png');
}
.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 20px;
}
.wantTable td {
  padding: 10px;
}
.wantTable th {
  padding: 20px;
}
.cookingTable td {
  padding: 10px;
}
.cookingTable th {
  padding-top: 20px;
  padding-bottom: 20px;
}